body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}
.q{
    width:100%;
    height: 590px;
    scroll-behavior: smooth;
    position: bottom;
    overflow-y: scroll;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
 }
