
.pill {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}

.footer {
    width: 100%;
    padding: 10px;
    align-items: center;
  position: relative;
  bottom: 0;
}